/* set page font style and font size */
body{
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 16px;
}

/* set page height and display mode */
.scroll{
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* set login form wrapper */
.wrapper{
  width: 50%;
  align-self: center;
  border: solid 5px rgb(78,78,78);
  border-radius: 10px; /* smoothen borders */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.horizontal-rule{
  border-top: solid 2px black;
  width: 100%;
  margin-bottom: 15px;
}

.login-form{
  align-self: stretch;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 15px;
}

.textfield{
  border-radius: 5px;
  padding: 10px;
  border: solid 2px rgb(78,78,78);
}

.button-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.submit-button{
  background-color: rgb(78, 78, 78);
  color: white;
  border-radius: 10px;
  padding: 10px 0;
  align-self: stretch;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}